p {
	color: blue;
	font-family: 'Bitter', serif;
}

li {
	background-color: black;
	color: #FFFFFF;
}

img {
	border: .5em solid black;
	border-radius: 50%;
}

body {
	font-family: 'Bitter', serif;sans-serif;
	color: #333;
}
header {
	color: #FFCOCB;
	border-color: rgb (255, 192, 203);
}

section {
	
}

a {
	color: #339988;
}

h1 {
	color:red;
	font-size: 48px;
}

#about {
	background: # gray;

}

.about {
	background-color: gray;
}

.links {
	 background-color: red;

}

.links h2 {
	background-color: yellow;
}

.contact {
	background-image: url("images/dark_embroidery.png");
	height: 500px;
	text-align: center;

}

.contact img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.contact img:hover {
	opacity: 0.5%;
}

ul.websites {
	padding: 0;
}

ul.websites {
	list-style: none;
	display: inline-block;
}

